@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Playfair+Display:ital@1&family=Work+Sans:ital,wght@0,500;0,700;1,200;1,400;1,800&display=swap');

* {
 font-family: 'Gentium Book Plus', serif;
font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif;
box-sizing: border-box;
}
/* varibles */
:root {
--main-color:#10CAB7;
--secondary-color:#2C4755;
--section-padding: 60px;
--section-background: #f6f6f6;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}

/* conponant style */
.special-heading{
color:#ebeced;
font-size: 100px;
text-align: center;
font-weight: 800;
letter-spacing: -3px;
margin: 0;
}

.special-heading+p{

margin:-30px 0 0 0;
font-size: 20px;
text-align: center;
color:#777;

}



/* conponant style */


/* small */
@media(min-width:768px){
.container{
    width: 750px;
}
}
/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
    .special-heading{
        font-size: 60px;
    }
    .special-heading+p{
        margin-top: -13;
    }
    }

    /* large */
    @media(mid-width:1200px){
.container{
    width: 1170px;
}
    }

html {
    scroll-behavior: smooth;
}

/* global desin */



.header{
padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}

.header .link{
    position: relative;
}

.header .link .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}

.header .icon span:first-child{
    width: 100%;
}
.header .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.header .icon :last-child{
    width: 100%;
}

.header .link:hover .icon span:nth-child(2){
    width: 100%;
}

.header .link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0px;
    top:calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .link:hover ul{
    display: block;

}

.header .link ul::before{
    content:"";
    border-width:10px;
    border-style: solid;
    border-color:transparent transparent #f6f6f6 transparent;  
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .link ul li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color:#333;
    transition: 0.3s;
}
.header .link ul a:hover{
    padding-left: 25px;
}

.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #333;
}
/* style landing section */
.landing{
    background-image:url(./assats/pexels-pixabay-417173.jpg);
    background-size: cover;
    height:calc(100vh - 46px);
    position: relative;
}
.intro-text{
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.intro-text h1{
    margin: 0px;
    font-weight: bold;
    font-size: 45px;
    color: var(--main-color);
}
/* end style lending section */

/* start style features */

.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i{
    color:var(--main-color);
}
.features .feat h3{
    font-weight: 800px;
    margin: 30px;
}


.features .feat p{
    line-height: 1.8;
    font-size: 17px;
    color:#777;
}
/* end style features */


/* start style services */

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}

@media(max-width:767px){
    .services .services-content .srv{
        flex-direction:column; 
        text-align: center;
}
}
.services .services-content .srv i{

    color: var( --main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex:1;
}

.services .services-content .srv .text h3{
    margin: 0 0 20px;
}

.services .services-content .srv .text p{
    line-height: 1.6;
    color:#777;
    font-weight: 300px;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image-column::before{
content: "";
background-color: var(--secondary-color) ;
width: 80px;
height:calc(100% + 100px);
position: absolute;
top:-50px;
right: 0;
z-index: -1;


}

.services .services-content .image img {
    width: 260px;
  }

@media(max-width:1199px){
    .image-column{
        display: none;
    }
}

/* end style services */

/* start style portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img{
    width: 100%;
}


.portfolio .portfolio-content .card .info{
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3{
    margin: 0;
}

.portfolio .portfolio-content .card .info p{
line-height: 1.6;
color:#777;
margin-bottom: 0;
}
/* end style portfolio */

/* start style about */
.about{
padding-top: var(--section-padding);
padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content{
margin-top: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

@media(max-width:992px){

    .about .about-content{
        flex-direction: column;
        text-align: center;
        gap:40px
    }

}

.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}

@media(max-width:992px){

    .about .about-content .image{
        margin: 0 auto;
    }

}

.about .about-content .image::before{
content: "";
background-color: #ebeced;
position: absolute;
width:100px;
height: calc(100% + 80px);
top:-40px;
left: -20px;
z-index: -1;
}

.about .about-content .image::after{
    content: "";
    width: 120px;
    position: absolute;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -35px;
    left: 200px;
    z-index: -1;
}
@media(max-width:992px){
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }
}


.about .about-content .image img{
    max-width: 100%;
}

.about .about-content .about-text{
    flex-basis: calc(100% - 500px)
    /* flex: 1; */
}

.about .about-content .about-text p:first-of-type{
font-family: bold;
line-height: 2;
padding-bottom: 50px;
}

.about .about-content .about-text hr{
width: 50%;
border-color: var(--main-color);
display: inline-block;
}

.about .about-content .about-text p:last-of-type{
line-height: 2;
color:#777
}
/* end style about  */


/* start style contact */

.contact{
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: var(--section-background);
}

.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

}

.contact .info .label{
font-size: 40px;
font-weight: 800;
color: var(--secondary-color);
letter-spacing: -2px;
margin-bottom: 15px;
}


.contact .info a{
    display: block;
font-size: 40px;
color:  var(--main-color);
font-weight: 800;
text-decoration: none;
}


.contact .info .socioal{
display: flex;
justify-content: center;
margin-top: 20px;
font-size: 16px;
}

.contact .info .socioal i{
    margin-left: 10px;
    color: var(--main-color);
}


@media(max-width:767px){
    .contact .info a,
    .contact .info .label{
        font-size: 25px;
    }

}
/* end style contact */

/* sr=tart style footer  */
.footer{
    background-color: var(--secondary-color);
    text-align: center;
    color: wheat;
    padding: 30px 10px;
    font-size: 18px;

}

.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* end style footer */